.Planning-nav{
    background: #650300;

    .container{
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;
    }
    ul{
        display: flex;
    }
    li{
        margin-right: 30px;
    }
    a{
        display: block;
        padding: 12px 0;
        color: #FFF;
        font-size: 20px;
        line-height: 24px;
        transition: .3s;
        &:hover{
            color: #000;
        }
    }
}

.Planning-breadcrumb{
    .container{
        padding-bottom: 0;
    }
    ol{
        display: flex;
    }
    .breadcrumb-item{
        margin-right: 10px;
        a{
            font-size: 16px;
            color: #000;
        }
        
    }
    .Planning-red{
        color: #AA0601;
    }
    .tag{
        li{
            margin-right: 10px;
        }
    }
}



.Planning{
    .container{
        padding-top: 0;
    }
    .Planning-body{
        display: flex;
        align-items: flex-start;    
        align-items: start;
    }
    
    /*left*/
    .Planning-main{
        width: 75%;
        margin-right: 30px;
        h4{
            font-size: 48px;
            line-height: 95px;
            color: #650300;
        }
        .Planning-subtitle{
            display: flex;
            justify-content: space-between;
        }
        .Planning-text{
            font-size: 28px;
            line-height: 42px;
        }
        .Planning-date{
            color: #6C6C6C;
        }
        .Planning-card{
            li{
                margin-top: 40px;
            }
            p{
                font-size: 20px;
            }
        }
        .Share-icon{
            display: flex;
            padding-bottom: 21px;
            border-bottom: 1px solid #707070;
            li{
                margin-right: 20px;
            }
        }
        .arrow{
            display: flex;
            justify-content: space-between;
            a{
                color: #000;
                &:hover{
                    color: $primary;
                }
            }
        }
    }

    /*right*/
    .Planning-tag{
        margin-top: 40px;
        width: 20%;
        .tag-icon{
            display: flex;
            align-items: center;
            margin-right: 30px;
            color:#AA0601;
        }
        .tag-text{
            color: #AA0601;
            ul{
                display: flex;
                flex-wrap: wrap;
            }
            li{
                margin-right: 30px;
            }
        }    
    }
}



@media(max-width:767px){
    .Planning-nav{
        .container{
            display: flex;
        }
        ul{
            display: flex;  
        }
        .fas{
            display: none;
        }
        li{
            margin-right: 24px;
        }
        a{
            display: block;
            padding: 16px 0;
            color: #FFF;
            font-size: 14px;
        }
    }
    
    .Planning-breadcrumb{
        .breadcrumb-item{
            margin-top: 8px;
            font-size: 14px;
            margin-right: 10px;
            a{
                font-size: 14px;
            }        
        }

        .tag{
            li{
                margin-right: 4px;
            }
        }

    }
    
    
    
    .Planning{
        .Planning-body{
            display: flex;
           flex-direction: column;
        }
        
        /*left*/
        .Planning-main{
            width: 100%;
            margin-right: 0px;
            h4{
                font-size: 20px;
                line-height: 30px;
            }
            .Planning-text{
                font-size: 14px;
                line-height: 21px;
            }
            .Planning-card{
                li{
                    margin-top: 24px;
                }
                p{
                    margin-top: 16px;
                    font-size: 16px;
                }
            }
            .Share-icon{
                display: flex;
                padding-bottom: 16px;
                border-bottom: 1px solid #707070;
                li{
                    margin-right: 16px;
                }
            }
            .arrow{
                display: flex;
                flex-direction: column;
                li{
                    margin-top: 8px;
                }
            }
        }
    
        /*right*/
        .Planning-tag{
            margin-top: 30px;
            width: 100%;
            .tag-icon{
                font-size: 20px;
                line-height: 42px;
            }
            .tag-text{
                li{
                    margin-right: 8px;
                }
            }    
        }
    }
}

@media(max-width:345px){
    .Planning-nav{
        li{
            margin-right: 16px;
        }
        a{
            display: block;
            padding: 16px 0;
            color: #FFF;
            font-size:12px;
        }
    }
    
    .Planning-breadcrumb{
        .breadcrumb-item{
            font-size: 8px;
            a{
                font-size: 8px;
            }        
        }
    }
}