.footer{
    background-color: #AA0601;
    .container{
        padding: 44px 0 39px 0;    
        .footer-nav-none{
            display: none;
        }
        .footer-nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .footer-item{            
                display: flex;
                li{
                    margin-right: 48px;
                    a{
                        font-size: 16px;
                        line-height: 24px;
                        color: #ffffff;
                    }
                }
            }
            .footer-icon{
                display: flex;
                li{
                    margin-left: 32px;
                }
            }
        }
        .contact{
            li{
                margin-top: 36px;
                display: flex;
                align-items: center;
                a{
                    margin-left: 22px;
                    color: #ffffff;
                    font-size: 36px;
                    line-height: 54px;
                }
            }
        }
        .hr{
            margin: 24px 0 32px 0;
        }    
        
        .Terms{
            display: flex;
            justify-content: space-between;
            li{
                color: #ffffff;
                font-size: 16px;
                line-height: 24px;
                a{
                    color: #ffffff;
                    font-size: 14px;
                    line-height: 21px;
                    margin-left: 48px;
                }
            }
        }
    }
}

@media(max-width:1200px){
.footer{
    padding: 15px 15px;
    .container{
        
        .footer-item{
            li{
                margin-right: 40px;
            }
        }
        .footer-icon{
            img{
                width: 24px;
                height: 24px;
            }
            
        }

        .contact{
            li{
                img{
                    width: 18px;
                    height: 18px;
                }
                a{
                    font-size: 20px;
                    line-height: 30px;
                }
            }
        }
        
        hr{
            margin: 20px 0 24px 0;
        }
    }
}    
}

@media(max-width:767px){
.footer{
    .container{
            padding: 25px 15px;
        .footer-nav-none{
            display: block;
            display: flex;
            justify-content: space-between;
            .nav-none-contact{
                li{
                    img{
                        width: 15px;
                        height: 15px;
                    }
                    a{
                        font-size: 16px;
                        line-height: 30px;
                        color: #ffffff;
                        margin-left: 6px;
                    }
                }
            }

            .nav-none-icon{
                ul{
                    display: flex;
                    img{
                        width: 24px;
                        height: 24px;
                        margin-left: 6px;
                    }    
                }
                    
            }
        }
            
        .footer-nav,.contact{
            display: none;                
        }
        .hr{
            margin-top: 24px;
            margin-bottom: 28px;
        }
        .Terms{
            flex-direction: column;

            .Terms-item{
                display: flex;
                flex-direction: column;
                a{                        
                    margin: 0;
                    margin-top: 8px;
                }

            }
        }
    }
}
}