header{
    nav{
        background: $primary;
        display: flex;  
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 30px 88px;     
    }
    h1{
        
        a{
            display: block;
            background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true);
            width: 80px;
            height: 48px;
            text-indent: 101%;
            white-space: nowrap;
            overflow: hidden;
        }   
    }
    ul{
        display: flex;
        flex-wrap: wrap;
    }
    li{
        a{
            color: #FFF;
            display: block;
            font-size: 20px;
            line-height: 30px;
            margin-left: 64px;
            padding-bottom: 5px;

            /*底線效果*/
            background-image:linear-gradient(#FFF ,#FFF) ;
            background-position: left bottom;
            background-size: 0 2.5px;
            background-repeat: no-repeat;
            transition: background-size .4s;
            &:hover{
                background-size: 100% 2.5px;
            }
        }
    }
}

@media(max-width:992px){
    header{
        nav{
            padding: 30px 39px;
        }
    }
    
    
}


@media(max-width:767px){
    header{
        nav{
            padding: 0;
            justify-content: center;
        }
        h1{
            padding: 10px 0;
        }
        ul{            
            width: 100%;
            border: 1px solid #FFF;
        }
        li{
            border: 1px solid #FFF;
            width: 50%;
            display: flex;
            justify-content: center;
            &:hover{
                background: #000;
            }
            a{
                padding: 8px 0;
                margin: 0;
               
            }

        }
    }
}

