h3{
    text-align: center;
    color: $Secondary;
    padding-top: 60px;
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
}

.banner{
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*文字*/
    .banner-text{
        color:$Secondary;
        height: 840px;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 64px;
        font-weight: bold;
        span{
            font-weight: normal;
            font-size: 36px;
        }
        
    }
}

/*about*/

.about{
    background: $light;
    ul{
        margin-top: 48px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
    }
    li{
       width: 22%;
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    h4{
        text-align: center;
        margin-top: 24px;
        color: $Secondary;
        font-weight: bold;
        font-size: 24px; 
    }
    p{
        margin-top: 8px;
    }
}

/*classic*/
.classic{
    img{
        width: 60%;
    }
    ul{
        margin-top: 40px;
    }
    li{
        display: flex;
        margin-top: 32px;    
    }

    .classic-row{
       .classic-img{
           margin-right: 32px;  
        }
        .classic-text{
            img{
                margin-right: 10px;
            }
        }    
    }

    .classic-revese{
        flex-direction: row-reverse;
        img{
            margin-left: 32px;
        }
        .classic-text{
            img{
                margin-right: 10px;
            }
        }
    }
    
    .classic-text{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 48px;
        font-weight: bold;
        color:$primary;
    }
}

/*Joint*/
.Joint{   
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true);
    background-position: center;
    background-size: cover;
    height: 705px;
    h3{
        color: #FFF;
    }
    ul{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    li{
        margin-right: 30px;
        background-color: #fff;
        position: relative;       
        img{
            opacity:.5;         
        }
    }
    .Joint-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: $primary;
        font-size: 72px;
        font-weight: bold;
        white-space: nowrap;
    }
}

/*Customer*/
.Customer{
    ul{
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        
    }
    li{
        width: 21%;
        margin-right: 30px;
        border: 1px solid #DEE2E6;
        box-shadow: 0px 2px 6px #00000029;
        border-radius: 4px;
        &:hover{
        transition:.3s ease;    
        transform:translateY(10px) ;
        }
    }
    .Customer-text{
        padding: 16px;
        height: 204px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .Customer-title{
        small{
            font-size: 14px;
        }
    }
}

/*Contact-form*/
.Contact-form{
    background: $light;
    .container{
        width: 730px;
    }
    h3{
        color: #000;
    }
    .form-item{
        margin-top: 20px;
        input,textarea{
            width: 100%;
            padding: 12px 16px;
        }
    }
    .submit-box{
        margin-top: 40px;
        text-align: center;
    }
    .input-submit{
        width: 350px;
        padding: 16px 0;
        border: 1px solid $primary;
        background: $primary;
        color: #FFF;
        border-radius: 2px;
    }
    
}


@media(max-width:992px){
    h3{
        padding-top: 40px;
        font-size: 32px;
        line-height: 48px;
    }
    /*banner*/
    .banner{
        background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true);
        .banner-text{
            height: 394px;
            font-size: 48px;
            span{
                font-size: 20px;
            }
        }
    }

    /*about*/
    .about{
        ul{
            margin-top: 0;
        }
        li{
            width: 45%;
            margin-top: 48px;
        }
       
    }

    /*classic*/
    .classic{
        padding-bottom: 56px;
        ul{
            margin-top: 32px;
        }
        .classic-revese{
            flex-direction: row;
            img{
               margin-left: 0;
               margin-right: 32px;
            }
            
        }
        .classic-text{
            font-size: 28px;
            line-height: 72px;
        }
    }

    /*Joint*/
    .Joint{
        height: 452px;

        .Joint-text{
            font-size: 32px;
            line-height: 25px;
        }
    }

    /*Customer*/
    .Customer{
        padding-bottom: 56px;
        li{
            margin-bottom: 32px;
            width: 45%;
        }
    }

    /*Contact-form*/
    .Contact-form{
        .container{
            width: 450px;
        }
        .form-item{
            margin-top: 16px;
            input,textarea{
                padding: 8px 12px;
            }
        }
        label{
            font-size: 14px;
        }
        .submit-box{
            margin-top: 20px;
        }
        .input-submit{
            width: 210px;
            padding: 10px 0;
        }
        
    }
}


@media(max-width:767px){
    h3{
        padding-top: 32px;
        font-size: 24px;
        line-height: 48px;
    }
     /*banner*/
     .banner{
        .banner-text{
            font-size: 32px;
            span{
                font-size: 16px;
            }
        }
    }

    /*about*/
    
    .about{

        li{
            margin-top: 40px;
            width: 100%;
        }
    }

    /*classic*/
    .classic{
        padding-bottom: 40px;
        img{
            width: 100%;
        }
        li{
            position: relative;
        }
        .classic-text{
          
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }      
    }
    /*Joint*/
    .Joint{
        height: 719px;
        ul{
            margin-top: 4px;
            flex-direction: column;
        }
        li{
            margin-top: 16px;
        }
    }

    /*Customer*/
    .Customer{
        padding-bottom: 40px;
        li{
            width: 100%;
            img{
                display: flex;
            }
        }
    }

    /**/
    .Contact-form{
        .container{
            width: 345px;
        }
        .form-item{
            margin-top: 8px;
        }
        label{
            font-size: 14px;
        }
        .input-submit{
            width: 165px;
            padding: 8px ;
        }
        
    }
}

@media(max-width:345px){
    .banner{
        .banner-text{
            font-size: 28px;
            span{
                font-size: 14px;
            }
        }
    }
}