.store_taipei{
    h3{
        margin-top: 96px;
        padding: 0;
        text-align: left;
        font-size: 48px;
        line-height: 80px;
        color: #000;
        padding-left: 16px;
        border-left: 8px solid $primary;
    }

    .store-label{
        margin-top: 65px;
        display: flex;
        align-items: center;
        label{
            font-size: 24px;
        }
         
        select{
            margin-left: 20px;
            width: 324px;
            padding: 8px 0;
            color: #495057;
            border: 1px solid #CED4DA;
        }
    
    }


    .store_card{
        display: flex;
        flex-wrap: wrap;
    }

    .card-items{
        margin-top: 32px;
        width: 30%;
        margin-right: 30px;   
        border: 1px solid #00000020;
        
    }

    .card-title{
        img{
            height: 224px;
            width: 100%;
        }
        p{
            padding: 12px 24px;
            font-size: 24px;
            color: #212529;
        }
    }

    .card-body{
        font-size: 20px;
        padding: 12px 24px;
        li{
            display: flex;  
            align-items: center;
        }
        img{
            width: 16px;
            height: 16px;
            margin-right: 11px;
        }
    }
   
    .border-bottom{
        border-bottom: 1px solid #00000020;
    }

    .card-footer{
        margin-top: 16px;
        a{
        display: block;
        color: #FFF;
        text-align: center;
        background: #000;
        padding: 20px 0;
        }
        
    }
}


@media(max-width:992px){
    .store_taipei{
        h3{
            margin-top: 60px;
            font-size: 48px;
            line-height: 80px;
            color: #000;
            padding-left: 16px;
            border-left: 4px solid $primary;
        }
        .store-label{
            margin-top: 40px;
            label{
            font-size: 16px;
            }
            select{
                margin-left: 20px;
                width: 237px;
                padding: 8px 0;
            }

        }
        
    
        
    
        .store_card{
            display: flex;
            flex-wrap: wrap;
        }
    
        .card-items{
            margin-top: 24px;
            width: 45%;
            margin-right: 30px;   
            border: 1px solid #00000020;
            
        }
    
        .card-title{
            img{
                height: 164px;
                width: 100%;
            }
            p{
                padding: 8px;
                font-size: 24px;
                color: #212529;
            }
        }
    
        .card-body{
            font-size: 14px;
            padding: 8px ;
        }
    
    
        .card-footer{
            a{
            padding: 16px ;
            }
            
        }
    }
}

@media(max-width:767px){
    .store_taipei{
        h3{
            margin-top: 28px;
            font-size: 28px;
            line-height: 80px;
            color: #000;
            padding-left: 8px;
        }
        .store-label{
            margin-top: 12px;
            label{
                font-size: 14px;
                line-height: 30px;
            }

            select{
                
                 margin-left: 12px;
                 padding: 8px 0;
                 color: #495057;
                 border: 1px solid #CED4DA;
             }
        }
        
    
        
    
        .store_card{
            display: flex;
            flex-wrap: wrap;
        }
    
        .card-items{
            margin-top: 20px;
            width: 100%;
            margin-right: 0px; 
        }
    
        .card-title{

            p{
                padding: 8px 24px;
                font-size: 16px;
            }
        }
    
        .card-body{
            font-size: 14px;
            padding: 16px 24px;
        }
    }

}

@media(max-width:345px){
    .store_taipei{
        .store-label{
            margin-top: 24px;
            label{
                font-size: 12px;
            }
            select{
            
                width: 200px;
            }
        }
    }
}





