    .optical-product{
        margin-top: 80px;
    
        .sunglasses-product{
            text-align: center;
            h4{
                font-size: 42px;
            }
            p{
                font-size: 32px;
            }
        }
    
        .sunglasses-product-list{
            margin-top: 40px;
            display: flex;
            flex-wrap: wrap;
    
        }
        .sunglasses-product-item{
            width:30%;
            margin-right: 30px;
            margin-bottom: 104px;
        }
        img{
            width: 100%;
            height: 164px;
        }
        .sunglasses-product-text{
            display: flex;
            justify-content: space-between;
            .color-red{
                color: $primary;
            }
        }
        .sunglasses-product-color{
            display: flex;
            a{
                margin-right: 8px;
                display: block;
                width: 24px;
                height: 24px;
                border-radius: 3px;
            }
            .color-bronze{
                background: #5F3E2D;
            }
            .color-brown{
                background: #B75929;
            }
        }      
    }


    @media(max-width:992px){
        /*optical-product*/
        .optical-product{
            margin-top: 56px;
            .sunglasses-product-list{
                margin-top: 32px;
            }
            .sunglasses-product-item{
                width:45%;
                margin-right: 30px;
                margin-bottom: 72px;
            }
        }
        
    }
    
    
    
    
    /*phone*/
    @media(max-width:767px){
        /*optical-product*/
        .optical-product{
            margin-top: 32px;
            .sunglasses-product-list{
                margin-top: 20px;
            }
            .sunglasses-product-item{
                width:100%;
                margin-right: 0;
                margin-bottom: 32px;
            }
            img{
                height: 166px;
            }     
        }
        
    }