.Information{
   display: flex;
   flex-wrap: wrap;
    margin-top: 32px;
   .Information-card{
       margin-right: 30px;
       border: 1px solid #00000020;
       width: 37%;
   }

   .Information-title{
       border-bottom: 1px solid #00000020;
       p{
           padding: 12px 24px;
       }
   }

   .Information-main{
       padding: 12px 24px;
       li{
           margin-top: 8px;
           display: flex;
       }
       img{
           margin-right: 11px;
       }
       .Information-map{
           width: 10%;
       }
   }
   .Information-map{
       width: 58%;
       height: 442px;
       iframe{
           width: 100%;
       }
   }
}



@media(max-width:992px){
    .Information{
        .Information-card{
            border: 0px;
            margin-right: 0;
            width: 100%;
            display: flex;
            align-items: center;
        }
        .Information-img{
            width: 53%;
            margin-right: 30px;
        }
        .Information-body{
            width: 43%;
            border: 1px solid #00000021;
        }

        .Information-main{
            img{
                width: 15px;
                height: 15px;
            }
            p{
                font-size: 14px;
            }
        }
        .Information-map{
            margin-top: 32px;
            width: 100%;
        }    
    }
}

@media(max-width:767px){
    .Information{
        .Information-card{
            flex-direction: column;
        }
        .Information-img{
            width: 100%;
            margin-right: 0;
        }
        .Information-body{
            width: 100%;
        }
        .Information-map{
            width: 100%;
            margin-top: 16px;
        }
    }    
}